:root {
  --light-gray: rgb(240, 240, 240);
  --light-black: #222222;
  --bg-black: #1b1b1b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--light-black);
  background-color: var(--light-gray);
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--bg-black);
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black);
  z-index: 3;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__menu {
  width: 80%;
}

.header__burger {
  display: none;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  position: relative;
  z-index: 5;
  padding: 0px;
}

.header__list li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

.header__list li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.header__link {
  font-family: sans-serif;
  color: var(--light-gray);
  text-decoration: none;
}

.header__link:hover {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  color: var(--light-gray);
  border-bottom: 2px solid;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.home__avatar {
  margin: 20px;
}

.home__avatar figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
}

.home__avatar figure figcaption {
  background-color: var(--light-black);
  color: var(--light-gray);
  font: bolder sans-serif;
  padding: 3px;
  text-align: center;
}

.home .aim-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.home .aim-contacts ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.home .aim-contacts ul li {
  list-style: none;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  text-transform: uppercase;
  font-weight: 700;
}

.home .aim-contacts ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.education {
  padding-top: 35px;
  padding-bottom: 35px;
  -webkit-clip-path: polygon(0% 0%, 100% calc(0% + 5vh), 100% 100%, 0% calc(100% - 5vh));
          clip-path: polygon(0% 0%, 100% calc(0% + 5vh), 100% 100%, 0% calc(100% - 5vh));
  color: var(--light-gray);
  background-color: var(--light-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education__wrapper {
  margin: 20px;
}

.education__wrapper ul {
  padding-left: 0;
}

.education__wrapper ul li {
  position: relative;
  border-left: 3px solid var(--light-gray);
  list-style-type: none;
  padding-left: 30px;
}

.education__wrapper ul li:before {
  position: absolute;
  display: block;
  border: 3px solid var(--light-gray);
  background: var(--light-black);
  border-radius: 50%;
  content: '';
  height: 15px;
  left: -9px;
  top: 5px;
  width: 15px;
}

.education__wrapper ul li:not(:last-child) {
  padding-bottom: 20px;
}

.education__wrapper ul li:last-child {
  margin-bottom: 0px;
}

.experience {
  padding-top: 35px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience__wrapper {
  margin: 20px;
}

.experience__wrapper ul {
  padding-left: 0;
}

.experience__wrapper ul li {
  position: relative;
  border-left: 3px solid var(--light-black);
  list-style-type: none;
  padding-left: 30px;
}

.experience__wrapper ul li:before {
  position: absolute;
  display: block;
  border: 3px solid var(--light-black);
  background: var(--light-gray);
  border-radius: 50%;
  content: '';
  height: 15px;
  left: -9px;
  top: 5px;
  width: 15px;
}

.experience__wrapper ul li:not(:last-child) {
  padding-bottom: 20px;
}

.experience__wrapper ul li:last-child {
  margin-bottom: 0px;
}

.skills {
  padding-top: 35px;
  padding-bottom: 35px;
  -webkit-clip-path: polygon(0% 0%, 100% calc(0% + 5vh), 100% 100%, 0% calc(100% - 5vh));
          clip-path: polygon(0% 0%, 100% calc(0% + 5vh), 100% 100%, 0% calc(100% - 5vh));
  color: var(--light-gray);
  background-color: var(--light-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__wrapper {
  margin: 20px;
}

.skills__wrapper ul {
  padding-left: 0;
}

.skills__wrapper ul li {
  position: relative;
  border-left: 3px solid var(--light-gray);
  list-style-type: none;
  padding-left: 30px;
}

.skills__wrapper ul li:before {
  position: absolute;
  display: block;
  border: 3px solid var(--light-gray);
  background: var(--light-black);
  border-radius: 50%;
  content: '';
  height: 15px;
  left: -9px;
  top: 5px;
  width: 15px;
}

.skills__wrapper ul li:not(:last-child) {
  padding-bottom: 20px;
}

.skills__wrapper ul li:last-child {
  margin-bottom: 0px;
}

.portfolio {
  padding-top: 35px;
  padding-bottom: 35px;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.portfolio__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__code a {
  display: block;
  text-decoration: none;
}

.portfolio__code figure {
  border: 3px solid var(--light-black);
  max-width: 100%;
  margin: auto;
}

.portfolio__code figure:hover {
  border: 3px solid #acacac;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio__code figcaption {
  background-color: var(--light-black);
  color: var(--light-gray);
  font: bolder sans-serif;
  padding: 0px;
  text-align: center;
}

.footer {
  padding: 20px 0px 20px 0px;
  color: var(--light-gray);
  background-color: var(--light-black);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrapper img {
  height: 60px;
}

@media (max-width: 799px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--bg-black);
    padding: 70px 0px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before {
    content: '';
    background-color: var(--light-gray);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: '';
    background-color: var(--light-gray);
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: var(--light-gray);
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__avatar {
    margin: 0px;
  }
  .home__avatar figure {
    width: 70%;
    height: 70%;
  }
  .home .aim-contacts ul {
    width: 90%;
  }
  .footer__wrapper img {
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */