:root {
    --light-gray: rgb(240, 240, 240);
    --light-black: #222222;
    --bg-black: #1b1b1b;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--light-black);
    background-color: var(--light-gray);
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: var(--bg-black);
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-black);
        z-index: 3;
    }
    &__body {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 80px;
    }
    &__menu {
        width: 80%;
    }
    &__burger {
        display: none;
        &.active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        position: relative;
        z-index: 5;
        padding: 0px;
    }
    &__list li {
        list-style: none;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__list li:hover {
        transform: scale(1.05);
        transition: transform 0.2s linear;
    }
        &__link {
            font-family: sans-serif;
            color: var(--light-gray);
            text-decoration: none;
        } 
        &__link:hover {
            transition: transform 0.2s linear;
            color: var(--light-gray);
            border-bottom: 2px solid;
        }
}

.home {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    &__avatar {
        margin: 20px;
        & figure {
            display: flex;
            flex-flow: column;
            margin: auto;
            & figcaption {
                background-color: var(--light-black);
                color: var(--light-gray);;
                font: bolder sans-serif;
                padding: 3px;
                text-align: center;
            }
        }
    }
    & .aim-contacts {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        & ul {
            width: 70%;
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            & li {
                list-style: none;
                transition: transform 0.2s;
                text-transform: uppercase;
                font-weight: 700;
            }
            & li:hover {
                transform: scale(1.2);
            }
        }
    }
}

.education {
    padding-top: 35px;
    padding-bottom: 35px;
    clip-path: polygon(0% 0%, 100% calc(0% + 5vh), 100% 100%, 0% calc(100% - 5vh));
    color: var(--light-gray);;
    background-color: var(--light-black);
    display: flex;
    &__wrapper {
        margin: 20px;
        & ul {
            padding-left: 0;
            & li {
                position: relative;
                border-left: 3px solid var(--light-gray);
                list-style-type: none;
                padding-left: 30px;
            }
            & li:before {
                position: absolute;
                display: block;
                border: 3px solid var(--light-gray);
                background: var(--light-black);
                border-radius: 50%;
                content: '';
                height: 15px;
                left: -9px;
                top: 5px;
                width: 15px;
            }
            & li:not(:last-child) {
                padding-bottom: 20px;
            }
            & li:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.experience {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    &__wrapper {
        margin: 20px;
        & ul {
            padding-left: 0;
            & li {
                position: relative;
                border-left: 3px solid var(--light-black);
                list-style-type: none;
                padding-left: 30px;
            }
            & li:before {
                position: absolute;
                display: block;
                border: 3px solid var(--light-black);
                background: var(--light-gray);
                border-radius: 50%;
                content: '';
                height: 15px;
                left: -9px;
                top: 5px;
                width: 15px;
            }
            & li:not(:last-child) {
                padding-bottom: 20px;
            }
            & li:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.skills {
    padding-top: 35px;
    padding-bottom: 35px;
    clip-path: polygon(0% 0%, 100% calc(0% + 5vh), 100% 100%, 0% calc(100% - 5vh));
    color: var(--light-gray);;
    background-color: var(--light-black);
    display: flex;
    &__wrapper {
        margin: 20px;
        & ul {
            padding-left: 0;
            & li {
                position: relative;
                border-left: 3px solid var(--light-gray);
                list-style-type: none;
                padding-left: 30px;
            }
            & li:before {
                position: absolute;
                display: block;
                border: 3px solid var(--light-gray);
                background: var(--light-black);
                border-radius: 50%;
                content: '';
                height: 15px;
                left: -9px;
                top: 5px;
                width: 15px;
            }
            & li:not(:last-child) {
                padding-bottom: 20px;
            }
            & li:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.portfolio {
    padding-top: 35px;
    padding-bottom: 35px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
        column-gap: 10px;
    }
    &__code {
        display: flex;
        & a {
            display: block;
            text-decoration: none;
        }
        & figure {
            border: 3px solid var(--light-black);
            
            max-width: 100%;
            margin: auto;
        }
        & figure:hover {
            border: 3px solid#acacac;
            transform: scale(1.05);
            transition: 0.2s;
        }
        & figcaption {
            background-color: var(--light-black);
            color: var(--light-gray);;
            font: bolder sans-serif;
            padding: 0px;
            text-align: center;
        }
    }
}

.footer {
    padding: 20px 0px 20px 0px;
    color: var(--light-gray);;
    background-color: var(--light-black);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img {
            height : 60px;
        }
    }
}


@media (max-width: 799px) {
    body.lock {
        overflow: hidden;
    }

    .header {
        &__body {
            height: 50px;
        }
        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: var(--bg-black);
            padding: 70px 0px 0px 0px;
            transition: all 0.3s ease 0s;
            &.active {
                top: 0;
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__list li {
            margin: 0px 0px 20px 0px;
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
            &:before {
                content: '';
                background-color: var(--light-gray);
                position:absolute;
                width: 100%;
                height: 3px;
                left: 0;
                top: 0;
                transition: all 0.3s ease 0s;
            }
            &:after {
                content: '';
                background-color: var(--light-gray);
                position:absolute;
                width: 100%;
                height: 3px;
                left: 0;
                bottom: 0;
                transition: all 0.3s ease 0s;
                }      
            & span {
                position: absolute;
                background-color: var(--light-gray);
                left: 0;
                width: 100%;
                height: 3px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }
        }
    }

    .home {
        display: flex;
        flex-direction: column;
        &__avatar {
            margin: 0px;
            & figure {
                width: 70%;
                height: 70%;
            }
        }
        & .aim-contacts {

            & ul {
                width: 90%;
            }
        }
    }

    .footer {
        &__wrapper {
            & img {
                height : 40px;
            }
        }
    }
}
    


